<!doctype html>
<html>
  <head>
    <title>Cupcakes</title>
  </head>
  <body>
    <h1>Cupcakes</h1>
    <ul id="cupcake-list"></ul>
    <h2>Add a Cupcake</h2>
    <form id="add_cupcake">
        Flavor: <input type="text" placeholder="Flavor" id="flavor-input" name="flavor">
        Size: <input type="text" placeholder="Size" id="size-input" name="size">
        Rating: <input type="number" id="rating-input" name="rating">
        Image: <input type="url" id="image-input" name="image">
        <button id="add">Add</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.3.slim.js"
  integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc="
  crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
  <body>
</html>